include ../../data/theme

// === FOOTER (BEGIN)
footer(class="bnd-footer bnd-footer-1")
  div(class="container")
    div(class="row")
      div(class="col-12 text-center")
        include ../social
        p(class="copyright")= theme.copyright
// === FOOTER (END)
