include ../data/env
include ../data/theme

// === SCRIPTS (BEGIN)
// === JQUERY
script(src="plugins/jquery/jquery.min.js")
// === MICROMODAL
script(src="plugins/micromodal/micromodal.min.js")
// === WAYPOINTS
script(src="plugins/waypoints/jquery.waypoints.min.js")
// === ANIME
script(src="plugins/anime/anime.min.js")
// === TYPED
script(src="plugins/typed/typed.min.js")
// === SHUFFLE
script(src="plugins/shuffle/shuffle.min.js")
// === SPLIDE
script(src="plugins/splide/splide.min.js")
// === AOS
script(src="plugins/aos/aos.js")
// === NOTYF
script(src="plugins/notyf/notyf.min.js")
// === INIT SCRIPTS
script(src="js/script.js")
// === GOOGLE RECAPTCHA
script(src=`https://www.google.com/recaptcha/api.js?render=${reCaptcha.siteKey}` id="recaptcha-v3")
// === SCRIPTS (END)
