// === STYLES (BEGIN)
// === BOOTSTRAP
link(rel="stylesheet" href="plugins/bootstrap/bootstrap-reboot.min.css")
link(rel="stylesheet" href="plugins/bootstrap/bootstrap-grid.min.css")
// === FONTAWESOME BRANDS
link(rel="stylesheet" href="plugins/fontawesome/css/fontawesome.min.css")
link(rel="stylesheet" href="plugins/fontawesome/css/brands.min.css")
link(rel="stylesheet" href="plugins/fontawesome/css/solid.min.css")
// === SPLIDE
link(rel="stylesheet" href="plugins/splide/splide.min.css")
// === AOS
link(rel="stylesheet" href="plugins/aos/aos.css")
// === NOTYF
link(rel="stylesheet" href="plugins/notyf/notyf.min.css")
// === MAIN
link(rel="stylesheet" href="css/style.css")
// === DARK
link(rel="stylesheet" href="css/dark.css")
// === SCHEME. CHOSE ONE OF turquoise, nephritis, peterriver, belizehole, wisteria, carrot, alizarin, pomegranate
link(rel="stylesheet" href="css/carrot.css")
// === STYLES (END)
