extends layouts/default.pug

block variables
  - var title = "Default Home Page"
  - var bodyClass = "default-template"

block content
  include includes/first-screen/first-screen-1
  include includes/about/about-1
  include includes/skills/skills-1
  include includes/experience/experience-1
  include includes/portfolio/portfolio-1
  include includes/posts/posts-1
  include includes/testimonial/testimonial-1
  include includes/contacts/contacts-1
