// === HEADER (BEGIN)
header(class="bnd-header bnd-header-1")
  a(class="logo" href="/")
    include ../../../images/logo.svg
  button(type="button", id="js-sidenav-hamburger", class="hamburger")
    include ../icons/heroicons/menu-alt4.svg
// === HEADER (END)
// === OVERLAY (BEGIN)
div(class="bnd-overlay", id="js-overlay")
// === OVERLAY (END)
include ../sidenav
