-
  person = {
    name: 'Scott R. Brown',
    contacts: {
      phone: {
        label: 'Phone',
        value: '406-935-2809',
      },
      email: {
        label: 'Email',
        value: 'ScottRBrown@rhyta.com',
      },
      location: {
        label: 'Address',
        value: 'Broadus, MT 59317',
      },
    },
    bio: [
      {name: 'Residence', value: 'USA'},
      {name: 'City', value: 'Broadus'},
      {name: 'Age', value: '31'},
    ],
    skills: [
      {name: 'HTML', value: 95},
      {name: 'CSS', value: 95},
      {name: 'JavaScript', value: 85},
      {name: 'PHP', value: 70},
      {name: 'MySQL', value: 70},
      {name: 'Bash', value: 60},
      {name: 'Linux', value: 40},
    ],
    achievements: [
      {name: 'Years of experience', value: 5, duration: 1000},
      {name: 'Happy customers', value: 20, duration: 2000},
      {name: 'Completed projects', value: 50, duration: 3000},
      {name: 'Honors & Awards', value: 12, duration: 1500},
    ],
    educations: [
      {
        years: '2021 - 2022',
        name: 'Palmer, Atkinson and Hayden',
        address: 'Sandrashire, WA 21290',
      },
      {
        years: '2018 - 2021',
        name: 'Collins PLC',
        address: 'Williamsonberg, MT 87162',
      },
      {
        years: '2016 - 2018',
        name: 'Morales Group',
        address: 'South Josephchester, KS 42743',
      },
      {
        years: '2015 - 2016',
        name: 'Chavez PLC',
        address: 'North Feliciaburgh, AR 97886',
      }
    ],
    experiences: [
      {
        years: '2021 - present',
        company: 'Dorsey PLC',
        position: 'Full-stack Developer',
        description: 'Argue why rate short every seek usually wide. Fine time place already hour available season film. Section black prepare sport on.'
      },
      {
        years: '2020 - 2021',
        company: 'Chapman LLC',
        position: 'Backend Developer',
        description: 'Range exactly reach collection. Total candidate huge decide especially into. Nearly Democrat event some book entire research.'
      },
      {
        years: '2019 - 2020',
        company: 'Rodriguez, Stephens and Jones',
        position: 'Frontend Developer',
        description: 'Fill hundred pattern. Husband change bar writer spring hand talk. Eight easy product one.'
      },
      {
        years: '2018 - 2019',
        company: 'Roth-Martin',
        position: 'UX/UI Designer',
        description: 'Smile consider serious treatment think crime never key. Might win offer follow. Kid teacher example full. Customer some deep call. Reduce company song on.'
      },
      {
        years: '2017 - 2018',
        company: 'Edwards-Elliott',
        position: 'Web Designer',
        description: 'Wear traditional try especially consumer. Education wind everybody century save personal.'
      },
    ],
    portfolio: {
      items: [
        {
          name: 'Fuller',
          id: 'fuller',
          groups: ['1'],
          published: '2022-11-22',
          tags: ['Figma', 'UX', 'UI', 'Motion'],
          except: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        },
        {
          name: 'Snyder',
          id: 'snyder',
          groups: ['2'],
          published: '2022-10-12',
          tags: ['React Native', 'Node.js', 'MongoDB'],
          except: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        },
        {
          name: 'Smith',
          id: 'smith',
          groups: ['3'],
          published: '2021-01-22',
          tags: ['HTML', 'CSS', 'Bootstrap', 'JavaScript', 'WordPress'],
          except: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        },
        {
          name: 'Baker',
          id: 'baker',
          groups: ['4'],
          published: '2021-03-21',
          tags: ['HTML', 'CSS', 'Wix'],
          except: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        },
        {
          name: 'Martin',
          id: 'martin',
          groups: ['1'],
          published: '2020-12-28',
          tags: ['Figma', 'UX', 'UI', 'Motion'],
          except: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        },
        {
          name: 'Splash',
          id: 'splash',
          groups: ['2'],
          published: '2020-06-12',
          tags: ['React Native', 'Node.js', 'MongoDB'],
          except: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        },
        {
          name: 'Gardner',
          id: 'gardner',
          groups: ['3'],
          published: '2019-02-02',
          tags: ['HTML', 'CSS', 'Bootstrap', 'JavaScript', 'WordPress'],
          except: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        },
        {
          name: 'Black-Diaz',
          id: 'black-diaz',
          groups: ['4'],
          published: '2019-06-07',
          tags: ['HTML', 'CSS', 'Wix'],
          except: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        },
        {
          name: 'Ramirez',
          id: 'ramirez',
          groups: ['1'],
          published: '2018-07-22',
          tags: ['Figma', 'UX', 'UI', 'Motion'],
          except: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        }
      ],
      categories: [
        {name: 'All', group: ''},
        {name: 'Web Design', group: '1'},
        {name: 'Mobile', group: '2'},
        {name: 'Websites', group: '3'},
        {name: 'Landing pages', group: '4'},
      ],
    },
    testimonial: [
      {
        name: 'Robert Hansen',
        position: 'Advertising account executive',
        text: 'Never why certain artist though head. Use appear firm once feeling arrive. Loss worker dark. Institution unit onto game line analysis. Because church choose woman. Value analysis partner dream.',
      },
      {
        name: 'Susan Campbell',
        position: 'Pensions consultant',
        text: 'Light page side police they. Total admit special boy. Others leg account turn oil couple professional. Vote catch local according we three. Bit available traditional.',
      },
      {
        name: 'Sarah Murray',
        position: 'Corporate investment banker',
        text: 'Low explain actually other challenge close up. Behind executive thank step detail real wrong expect. Be toward social pick guy. College everything black three participant direction father picture.',
      },
      {
        name: 'Jennifer Ramos',
        position: 'Radio broadcast assistant',
        text: 'Case hundred bill forget it necessary condition decade. Poor later day production particular. To collection discuss which campaign huge bar may. Area including forward.',
      },
      {
        name: 'Patrick Evans',
        position: 'Technical brewer',
        text: 'Teach certain require father. Capital kitchen the hope PM send already. Range authority region baby it. Million voice field security choose degree.',
      },
      {
        name: 'Nicholas Williams',
        position: 'Clinical research associate',
        text: 'Themselves share executive day. Model any water marriage. Clear eight save itself. Beautiful specific course. Democrat soldier image more. Peace idea power pretty.',
      },
      {
        name: 'Jason Andrews',
        position: 'Marine scientist',
        text: 'Section education home employee. Relationship always expect. Doctor first some loss government. Vote name from choose strategy federal discussion send.',
      },
      {
        name: 'Todd Miller',
        position: 'Doctor, hospital',
        text: 'Three general career western religious. Source occur sit plan. Fall garden become huge since product simply some.',
      },
    ],
    social: ['github', 'gitlab', 'linkedin-in', 'twitter', 'medium-m', 'facebook-f']
  }
