include ./theme

-
  shares = [
    {
      icon: 'facebook-f',
      href: `https://www.facebook.com/sharer.php?u=${theme.homepage}`,
    },
    {
      icon: 'linkedin-in',
      href: `https://www.linkedin.com/sharing/share-offsite/?url=${theme.homepage}`,
    },
    {
      icon: 'twitter',
      href: `https://www.twitter.com/intent/tweet?url=${theme.homepage}`,
    },
  ];
