-
  theme = {
    name: 'BOND',
    author: 'vladbndko',
    description: 'Personal Portfolio HTML Template',
    keywords: 'personal, portfolio, responsive, bootstrap',
    color: '#e67e22',
    email: 'vladbndko@gmail.com',
    homepage: 'https://github.com/vladbndko',
    copyright: 'Copyright 2022. FREE',
    version: '1.0.0',
    recaptcha: {
      secretKey: '',
    },
    menu: [
      {label: 'Home', href: '#home'},
      {label: 'About', href: '#about'},
      {label: 'Skills', href: '#skills'},
      {label: 'Experience', href: '#experience'},
      {label: 'Portfolio', href: '#portfolio'},
      {label: 'Blog', href: '#blog'},
      {label: 'Testimonial', href: '#testimonial'},
      {label: 'Contacts', href: '#contacts'},
    ],
    posts: [
      {
        title: 'Dolorem eum magni eos aperiam quia',
        published: '14 June 2022',
      },
      {
        title: 'Esciunt iure omnis dolorem tempora et accusantium',
        published: '02 June 2022',
      },
      {
        title: 'Optio molestias id quia eum',
        published: '28 May 2022',
      },
    ],
    schemes: [
      {name: 'turquoise', color: '#1abc9c'},
      {name: 'nephritis', color: '#27ae60'},
      {name: 'peterriver', color: '#3498db'},
      {name: 'belizehole', color: '#2980b9'},
      {name: 'wisteria', color: '#8e44ad'},
      {name: 'carrot', color: '#e67e22', isActive: true},
      {name: 'alizarin', color: '#e74c3c'},
      {name: 'pomegranate', color: '#c0392b'},
    ],
  }
