@use "sass:map";
@use "sass:math";
@import "../variables";
@import "../mixins";

/* === SHARE */
.bnd-share {
  display: flex;
  align-items: center;

  &-text {
    margin-top: 6px;
    font-weight: 600;
    padding-right: 1rem;
  }

  &-list {
    @extend %social-networks;
  }
}
